@import './base.css';
@import './parallelogram.css';
@import './bootstrap-utilities.min.css';
@import './bootstrap-grid.min.css';
#app, #game-app {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}
